.pl-c {
    color: #969896;
}
.pl-k {
    color: #a71d5d;
}
.pl-e, .pl-en {
    color: #795da3;
}

.pl-c1, .pl-s .pl-v {
    color: #0086b3;
}
.pl-c1, .pl-s .pl-v {
    color: #0086b3;
}

.pl-smi, .pl-s .pl-s1 {
    color: #333;
}
.pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra {
    color: #183691;
}

.tab-1 {
  display:inline-block;
  width: 40px;
}

.tab-2 {
  display:inline-block;
  width: 80px;
}

.tab-3 {
  display:inline-block;
  width: 120px;
}

.tab-4 {
  display:inline-block;
  width: 160px;
}

